* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: x-large;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: xx-large;
    }
}

header p {
    font-size: medium;
    font-weight: 200;
}

.font-white {
    color: white;
}

.light-bg {
    background-color: lightgray;
}

.row {
    margin-bottom: 30px
}


